@charset "UTF-8";

@font-face {
    font-family: 'Love';
    src: url('fonts/love larry otf.otf') format('opentype');   
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    
    h1, h2{
        /*font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
        font-size: 2em;
        font-style: oblique;*/
        font: italic lighter 2em 'Times New Roman', Times, serif;
    }

    h2{
        /*font-family: "Kaushan Script", cursive;
        font-weight: 400;
        font-style: normal;*/
        font: normal bold 2em "Work Sans", sans-serif;
    }
    

    h1{
        font-family: "Love", Arial, Helvetica, sans-serif;
    }
}